body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Square {
  border: solid medium lavender;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Start {
  width: 75vw;
  height: 75vh;

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Grid {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: row;
}

#preview {
  max-width: 10vw;
  max-height: auto;
}
