body {
  margin: 0;
  font-family: 'Prata', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Layout {
  display: flex;
  flex-direction: row;
}

#Selections {
  min-width: 10vw;
  padding: 2vw;
  background-color: rosybrown;
}

.Start {
  width: 80vw;
  height: 80vh;

  display: flex;
  flex-wrap: wrap;
  margin-right: 3vw;
  background-color: rosybrown;
}

 #gridTop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;

  width: 80vw;
  border-bottom: solid medium lavender ;
}

.topheader {
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: x-large;
}

.subheader {
  width: 8vw;
  padding-left: 4vw;
  padding-right: 1vw;
  font-size: x-large;
}  

.categories {
  margin: 0 auto;
  margin-top: 5vh;
}

/* grid styles  */

.Grid {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: row;
}

.Square {
  border-left: solid medium lavender;
  border-right: solid medium lavender;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preview {
  max-width: 10vw;
  max-height: auto;
}

#topheader > div {
  display: block;
  width: 35vw;
  margin-left: 3vw;
}

.reset {
  position: relative;
  margin-bottom: 4vh;
  margin-left: 4vh;
}

